<form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
  <div class="mb-3">
    <label  class="form-label">Nom</label>
    <input type="text" class="form-control" formControlName="Nom">
  </div>
  
  
  <div class="mb-3">
    <label  class="form-label">Description</label>
    <textarea class="form-control"  rows="3" formControlName="Description"></textarea>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Submit</button>
  </div>
  </form>